@import 'tailwindcss';
@plugin "daisyui";

/* 拿掉 daisy Ui  label border */
.input {
  border: none;
}

.main-button {
  background-color: #8d3e0f;
  color: #fff;
  border: 2px solid rgba(255, 255, 255, 0.3);
  padding: 8px 24px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: all 0.3s ease;
  height: auto;
  width: auto;
  min-width: 120px;

  &:hover {
    background-color: #a8572e;
    border-color: rgba(255, 255, 255, 0.5);
  }

  &:active {
    transform: scale(0.95);
  }
}

.loginOut-button {
  background-color: #8d3e0f;
  color: #fff;
  border: 2px solid rgba(255, 255, 255, 0.3);
  padding: 8px 24px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: all 0.3s ease;
  height: auto;
  width: auto;
  min-width: 120px;

  &:hover {
    background-color: #a8572e;
    border-color: rgba(255, 255, 255, 0.5);
  }

  &:active {
    transform: scale(0.95);
  }

  &.absolute {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: 100%;
    margin-top: 0.5rem;
  }
}
